grpcio>=1.64.1
grpcio-tools>=1.64.1
protobuf>=5.27.2,<6.0.0
pydantic-settings==2.3.4
pydantic==2.7.4
python-dotenv==1.0.1
flask==3.0.3
flask-socketio==5.3.6
python-socketio==5.11.3
plyer==2.1.0
simple-websocket==1.0.0
